body {
    font-size: $base-font-size;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

article {
    max-width:600px;
    margin:0 auto
}

h1 {
    font-size: 1.5 * $base-font-size;
}

h2 {
    font-size: 1.25 * $base-font-size;
}

h3 {
    font-size: 1.125 * $base-font-size;
}

h4 {
    font-size: 1.0625 * $base-font-size;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height:1.4;
}

li {
    margin-bottom: 1rem;
    line-height:1.4;
}

ol, ul {
    padding-left:4rem
}

article ol {
	list-style:decimal
}

article ul {
    list-style:square
}

#title, #byline {
    text-align: center;
}

#title {
    margin-bottom:1rem
}

section:first-child {
    margin-top:6rem
}

section {
    margin-bottom:3rem
}

section > h2 {
    margin-bottom:1rem
}