/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
}

:root {
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
}

@media screen {
  body {
    font-size: 2rem;
    color: #2d2d2d;
    background-color: #fffaf3;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
  }

  article {
    max-width: 600px;
    margin: 0 auto;
  }

  #title {
    font-family: "Noto Serif", serif;
    line-height: 1.2;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.4;
  }

  li {
    margin-bottom: 1rem;
    line-height: 1.4;
  }

  ol, ul {
    padding-left: 4rem;
  }

  article ol {
    list-style: decimal;
  }

  article ul {
    list-style: square;
  }

  #title, #byline {
    text-align: center;
  }

  #title {
    margin-bottom: 1rem;
  }

  section:first-child {
    margin-top: 6rem;
  }

  section {
    margin-bottom: 3rem;
  }

  section > h2 {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  a, a:visited {
    color: #07a;
  }

  sup {
    top: -0.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
  }

  .reference {
    text-decoration: none;
    border-bottom: none;
    font-weight: bold;
    background-color: #d0d0d0;
    border-radius: 50%;
    padding: 0.2em 0.5em 0.2em;
  }

  a.reference, a:visited.reference {
    color: #3d3d3d;
  }

  em {
    font-style: italic;
  }

  #references {
    margin-bottom: 2rem;
  }

  #references h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  #references ol {
    padding-left: 2rem;
  }

  #references div {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
  }

  .footnote {
    display: flex;
  }

  .footnote-number a {
    text-decoration: none;
    border-bottom: none;
    font-weight: bold;
    background-color: #d0d0d0;
    border-radius: 50%;
    padding: 0.2em 0.5em 0.2em;
  }

  .footnote-number a, .footnote-number a:visited {
    color: #3d3d3d;
  }
}

/*# sourceMappingURL=style.css.map */
